<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <%= partial "meta" %>
    <%= favicon_tag 'favicon-32x32.png' %>
    <link rel="apple-touch-icon" sizes="57x57" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/favicon-16x16.png">
    <link rel="manifest" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/manifest.json">
    
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag bootstrap_css %>
    <%= stylesheet_link_tag bootstrap_theme_css %>
    <%= stylesheet_link_tag font_awesome_css %>
    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    <% navbar do %>
      <%= image_tag("logo.png", width: "170px") %>
      <% nav class: 'navbar-right ix-menu' do %>
      <a class="fancy" href="http://indix.com">Home</a>
      <a class="fancy" href="http://indix.com/blog">Blog</a>
      <a class="fancy" href="http://developer.indix.com">API</a>
      <% end %>
    <% end %>
    <%= yield %>
    <footer class="footer navbar-inverse">
      <div class="container text-center">
        <p class="navbar-text">Made with <i class="fa fa-heart"></i> at Indix</p>
      </div>
        <div class="copyright">
          &copy; 2016 Indix Corporation
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <%= javascript_include_tag bootstrap_js %>
    <%= javascript_include_tag :all %>
  </body>
</html>
