---
title: Indix OSS
---

<div class="content">
  <div class="jumbotron" id="jumbotron">
    <div class="bg"></div>
    <div class="container text-center banner">
      <h1>Indix <i class="fa fa-heart-o"></i> OSS</h1>
      <p>We use a lot of open source tools, and love contributing back to the community.</p>
    </div>
  </div>
  <div class="container">
    <div class="section-title">
      <div class="title">
        <span>Our Projects</span>
      </div>
    </div>
    <% data.projects.each_slice(3) do |row| %>
      <% panel_row column_class: 'col-sm-4' do %>
        <% row.each do |project| %>
          <% build_contributors project %>
          <a href="#" id="<%= project %>">
            <% panel title: project do%>
              <div class="panel-body"></div>
              <div class="panel-footer">
                <span class="wrap">
                  <i class="fa fa-code"></i> <span class="language"></span>
                </span>
                <span class="wrap">
                  <i class="fa fa-star-o"></i> <span class="stars"></span>
                </span>
                <span class="wrap">
                  <i class="fa fa-code-fork"></i> <span class="forks"></span>
                </span>
              </div>
            <% end %>
          </a>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="container" id="contributors" data-is-client-side="<%= is_client_side %>">
    <div class="section-title">
      <div class="title">
        <span>Contributors</span>
      </div>
    </div>
    <% contributors.sort_by { |k,v| -v.contributions }.each_slice(6) do |row| %>
      <div class="row">
        <% row.each do |contributor| %>
          <div class="col-md-2 col-sm-4 col-xs-6" data-contributions="<%= contributor[1].contributions %>">
            <a href="<%= contributor[1].html_url %>">
              <img class="contributor-image" src="<%= contributor[1].avatar_url%>" />
            </a>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
